In [4]:
import pandas as pd

In [11]:
import requests

def get_book_info(isbn):
    api_url = f"https://www.googleapis.com/books/v1/volumes?q=isbn:{isbn}"
    response = requests.get(api_url)
    
    if response.status_code == 200:
        book_data = response.json()
        if "items" in book_data:
            volume_info = book_data["items"][0]["volumeInfo"]
            title = volume_info.get("title", "Нет названия")
            authors = volume_info.get("authors", ["Нет авторов"])
            published_date = volume_info.get("publishedDate", "Нет даты публикации")
            page_count = volume_info.get("pageCount", "Нет информации о количестве страниц")
            
            print(f"Title: {title}")
            print(f"Authors: {', '.join(authors)}")
            print(f"Published Date: {published_date}")
            print(f"Page Count: {page_count}")
        else:
            print("Книга не найдена.")
    else:
        print("Ошибка при запросе данных:", response.status_code)

In [20]:
import requests

def get_book_details(isbn):
    api_url = f"https://www.googleapis.com/books/v1/volumes?q=isbn:{isbn}"
    response = requests.get(api_url)
    
    if response.status_code == 200:
        book_data = response.json()
        if "items" in book_data:
            volume_info = book_data["items"][0]["volumeInfo"]
            description = volume_info.get("description", "Нет описания")
            genres = volume_info.get("categories", ["Нет жанров"])
        
            return f"{', '.join(genres)}"
        else:
            return "Книга не найдена."
    else:
        return "Ошибка при запросе данных"

In [54]:
# Пример использования
isbn_input = input("Введите ISBN книги: ")
get_book_details(isbn_input)

'Книга не найдена.'

In [41]:
get_book_details(342342343)

'Книга не найдена.'

In [102]:
books = pd.read_csv(r'Files\\archive\Books.csv')
ratings = pd.read_csv(r'Files\\archive\\Ratings.csv')
users = pd.read_csv(r'Files\\archive\\Users.csv')

<>:1: SyntaxWarning: invalid escape sequence '\B'
<>:2: SyntaxWarning: invalid escape sequence '\R'
<>:1: SyntaxWarning: invalid escape sequence '\B'
<>:2: SyntaxWarning: invalid escape sequence '\R'
C:\Users\Karimov\AppData\Local\Temp\ipykernel_13072\4186019406.py:1: SyntaxWarning: invalid escape sequence '\B'
  books = pd.read_csv('Files\\archive\Books.csv')
C:\Users\Karimov\AppData\Local\Temp\ipykernel_13072\4186019406.py:2: SyntaxWarning: invalid escape sequence '\R'
  ratings = pd.read_csv('Files\\archive\Ratings.csv')
C:\Users\Karimov\AppData\Local\Temp\ipykernel_13072\4186019406.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('Files\\archive\Books.csv')

In [103]:
id_for_remove = []

In [143]:
books.sample(3)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
149479,0553219944,"Any Thursday (Loveswept, No 328)",Peggy Webb,1989,Loveswept,http://images.amazon.com/images/P/0553219944.0...,http://images.amazon.com/images/P/0553219944.0...,http://images.amazon.com/images/P/0553219944.0...
112680,0393955370,The Spanish American Revolution 1808-1826 (Rev...,John Lynch,1986,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393955370.0...,http://images.amazon.com/images/P/0393955370.0...,http://images.amazon.com/images/P/0393955370.0...
134990,0307257932,Poochie &amp; Guff,Marvin Terban,1983,Western Publishing Company,http://images.amazon.com/images/P/0307257932.0...,http://images.amazon.com/images/P/0307257932.0...,http://images.amazon.com/images/P/0307257932.0...

In [144]:
for c in ['Book-Title', 'Book-Author', 'Image-URL-L']:
    for x in books[books[c].isna()]['ISBN']:
        if x not in id_for_remove:id_for_remove.append(x)

In [239]:
for x in ['Image-URL-S', 'Image-URL-M']:
    del books[x]

In [243]:
books.rename(columns={'Image-URL-M':'Image-URL'}, inplace=True)

In [248]:
books = books[~books['ISBN'].isin(id_for_remove)]

In [254]:
books.to_csv('Books.csv', index=False)

In [148]:
ratings.shape[0]

1149780

In [257]:
ratings = ratings[~ratings['ISBN'].isin(id_for_remove)]

In [149]:
import math
def combinatorrica(x, y):
    return (math.factorial(x)/(math.factorial(y)*math.factorial(x-y)))

In [205]:
combinatorrica(23000, 2)

264488500.0

In [265]:
ls = dict(ratings.groupby('User-ID')['ISBN'].count().sort_values())

In [273]:
index_to_del = []
for y in ls.keys():
    if ls[y] < 10:
        index_to_del.append(y)

In [279]:
ratings[~ratings['User-ID'].isin(index_to_del)]

         User-ID        ISBN  Book-Rating
31        276762  034544003X            0
32        276762  0380000059            0
33        276762  0380711524            5
34        276762  0451167317            0
35        276762  0451454952            0
...          ...         ...          ...
1149771   276704  0743211383            7
1149772   276704  080410526X            0
1149773   276704  0806917695            5
1149774   276704  0876044011            0
1149775   276704  1563526298            9

[965707 rows x 3 columns]

In [275]:
len(index_to_del)

92186

In [231]:
index = []
for x in ls.index:
    if ls[x] < 400:
        index.append(x)

In [232]:
print(f'{users.shape[0]} - {len(index)} = {users[~users['User-ID'].isin(index)].shape[0]}')

278858 - 104878 = 173980

In [204]:
len(index)

82467

In [173]:
counts_ratings

array([    1,     1,     1, ...,  6109,  7550, 13602])

In [172]:
pd.Series(counts_ratings).value_counts

<bound method IndexOpsMixin.value_counts of 0             1
1             1
2             1
3             1
4             1
          ...
105278     5850
105279     5891
105280     6109
105281     7550
105282    13602
Length: 105283, dtype: int64>

In [278]:
print(books.shape[0])
print(ratings.shape[0])
print(users.shape[0])

271355
1149774
278858

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149774 rows x 3 columns]

In [281]:
books = pd.read_csv('Books.csv')

In [290]:
books.to_csv('Books.csv', index=False)

In [298]:
ratings.to_csv('Ratings.csv', index=False)

In [330]:
users.to_csv('users.csv', index=False)

In [337]:
tables = ['books', 'users', 'ratings']

In [319]:
qu = """
create table books (
    isbn text not null unique
    , book_title text
    , book_author text
    , year_of_publication integer
    , publisher text
    , image_url text
    , primary key (isbn)
);

create table users (
    user_id integer not null unique
    , location text
    , age int
    , primary key (user_id)
);

create table ratings (
    user_id integer not null
    , isbn text not null
    , book_rating int
    , foreign key (user_id) references users(user_id)
    , foreign key (isbn) references books(isbn)
)"""

In [304]:
import duckdb

In [398]:
connect = duckdb.connect('books.db')

In [399]:
connect.query(qu)

In [341]:
tables

['books', 'users', 'ratings']

In [400]:
for table in tables:                
        df = pd.read_csv(f'{table}.csv')
        connect.query(f"""
            insert into {table}
            select *
            from df
        """)

In [401]:
connect.close()

In [382]:
import numpy as np

In [387]:
array1 = np.array(ratings.ISBN.unique().tolist())

In [388]:
array2 = np.array(books['ISBN'].tolist())

In [378]:
len(array)

20482

In [390]:
array3 = np.setdiff1d(array1, array2)

In [396]:
ratings = ratings[~ratings['ISBN'].isin(array3)]

In [ ]:
array

In [368]:
len(array)

0

In [347]:
array = [x for x in isbn_index if x not in books['ISBN']]